<div>
<h1 class= 'tile rec'> <%= @recipe.name %> </h1>

<p class= 'tile rec'> <%= @recipe.instructions %></p>
<br>
<h3>Who cooked this dish? </h3>
<ul>
    <% @recipe.posts.each do |post| %> 
    <li> <%= link_to post.user.name, user_path(post.user) %> made a 
    <%= link_to 'post', post_path(post) %>  about this recipe and rated it
    <%= post.rating %> out of 5 stars </li><br>
<%end%> 
</ul>
<ul>
<li class= 'tile '>Type of cuisine: <%= link_to @recipe.cuisine.name, cuisine_path(@recipe.cuisine) %> </li>
<li class= 'tile '>Prep time: <%=@recipe.prep_time%> min</li>
<li class= 'tile '>Serving size: <%=@recipe.serving_size%> person</li></ul>

<h3 class= 'tile '>Ingredients</h3>
<ul>
    <% @recipe.ingredients.each do |ri| %> 
    <li class= 'tile'><%= link_to ri.name, ingredient_path(ri) %> </li>
<%end%> 
</ul>
</div>




