<div class='recipeshow'>
<h1> <%= @recipe.name %> </h1>

<p> <%= @recipe.instructions %></p>
<br>
<h3 >Who cooked this dish? </h3>


    <% @recipe.posts.each do |post| %> 
    <li> <%= link_to post.user.name, user_path(post.user) %> made a 
    <%= link_to 'post', post_path(post) %>  about this recipe and rated it
    <%= post.rating %> out of 5 stars </li><br>
<%end%> 

<p>Type of cuisine: <%= link_to @recipe.cuisine.name, cuisine_path(@recipe.cuisine) %> </p>
<p>Prep time: <%=@recipe.prep_time%> min Serving size: <%=@recipe.serving_size%> person</p>

<h3>Ingredients</h3>

    <% @recipe.ingredients.each do |ri| %> 
    <%= link_to ri.name, ingredient_path(ri) %> 

<%end%> 

</div>




