<div>
<h1 class= 'tile rec'> <%= @recipe.name %> </h1>

<p class= 'tile rec'> <%= @recipe.instructions %></p>
<br>
<h4 class= 'tile rec'>Whos cooking? </h4>
<ul>
    <% @recipe.posts.each do |post| %> 
    <li class= 'tile rec'> <%= link_to post.user, user_path(post.user_id) %> gave this a <%= post.rating %> out of 5  </li>
<%end%> 
</ul>
<br>
<ul>
<li class= 'tile '>Type of cuisine: <%= link_to @recipe.cuisine.name, cuisine_path(@recipe.cuisine) %> </li>
<li class= 'tile '>Prep time: <%=@recipe.prep_time%> min</li>
<li class= 'tile '>Serving size: <%=@recipe.serving_size%> person</li></ul>

<h3 class= 'tile '>Ingredients</h3>
<ul>
    <% @recipe.ingredients.each do |ri| %> 
    <li class= 'tile'><%= link_to ri.name, ingredient_path(ri) %> </li>
<%end%> 
</ul>
</div>




