<h1> <%= @recipe.name %> </h1>

<%= @recipe.instructions %>
<br>
<h4>Whos cooking? </h4>
<ul>
    <% @recipe.posts.each do |post| %> 
    <li> <%= link_to post.user.name, user_path(post.user) %> gave this a <%= post.rating %> out of 5  </li>
<%end%> 
</ul>
<br>
<ul>
<li>Type of cuisine: <%= link_to @recipe.cuisine.name, cuisine_path(@recipe.cuisine) %> </li>
<li>Prep time: <%=@recipe.prep_time%> min</li>
<li>Serving size: <%=@recipe.serving_size%> person</li></ul>

<h3>Ingredients</h3>
<ul>
    <% @recipe.ingredients.each do |ri| %> 
    <li><%= link_to ri.name, ingredient_path(ri) %> </li>
<%end%> 
</ul>




