<h2> New User </h2>
<br>

<%= form_for @user do |u| %> 
<%= u.label :name %>
<%= u.text_field :name  %> 
<br>
<br>
<%= u.label :Age %> 
<%= u.number_field :age %> years old
<br>
<br>
<%= u.label :Email %> 
<%= u.text_field :email %> 
<br>
<br>
<%= u.label :Password %> 
<%= u.text_field :password %> 
<br>
<br>
<%= u.label :City %> 
<%= u.text_field :location %> 
<br>
<br>
<%= u.label :Picture %> 
<%= u.file_field :picture %> 
<br>
<br>
<%= u.submit %> 

<%end%> 

