<div class='showpageuser'>
<h1>Add Your comment</h1>
 
<img src= <%= @reaction.post.recipe.picture %> > <br>

<%= form_for [@post, @reaction] do |f| %>
  <%=f.label :comment%>
  <%=f.text_area :comment%>
<br>
  <%=f.submit value="Add comment", class: "button_default"%>
<% end %>
</div>