<%if flash[:errors]%>
    <%flash[:errors].each do|error|%>
        <p><%= error %></p>
    <% end %>
<% end %>


<h1>Edit this Post</h1>

<h4><%= form_for @post do |f| %>
Who is cooking? <br>
<%=f.label :chef%>
<%=f.collection_select :user_id, User.all, :id, :name%><br><br>

What are you cooking?<br>
<%=f.label :recipe%>
<%=f.collection_select :recipe_id, Recipe.all, :id, :name%><br><br>

<%=f.label :Comments%>
<%=f.text_area :description%><br><br>

<%=f.label :rating%>
<%=f.number_field :rating%><br>

<%=f.submit value="Edit this post"%>
  
<% end %>