<%if flash[:errors]%>
    <%flash[:errors].each do|error|%>
        <p class= 'tile rec'><%= error %></p>
    <% end %>
<% end %>


<h1 class= 'tile rec'>New Post</h1>

<h4 class= 'usersignup'><%= form_for @post do |f| %>

Who is cooking? <br>
Chef:
<%=@current_user.name%><br><br>

What are they cooking?<br>
<%=f.label :Recipe%>
<%=f.collection_select :recipe_id, Recipe.all, :id, :name%><br><br>

How was it?
<%=f.text_area :description%><br><br>

<%=f.label :Rating%>
<%=f.number_field :rating%><br><br>

<%f.label :Picture %> 
<%f.file_field :picture %><br><br>

<%=f.submit value="Create your post", class: 'button_red'%>
  
<% end %>
<br>
<br>
<%= link_to 'Back', posts_path %>
