<!-- <head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: red;
}
</style>
</head> -->
<div class='showpost'>
<h1 class='tile'><%= @post.recipe.name %> </h1>
</head>

<%if flash[:error]%>
    <% flash.each do |type, msg| %>
        <%= msg %>  
    <% end %>
<% end %>

<h1><%= @post.recipe.name %> </h1>
<br>


 
<img src= <%= @post.recipe.picture %> > <br>

<br>
<h2>Description: </h2>
<h3><%= @post.description %> </h3>
<h2> by <%= link_to @post.user.name, user_path(@post.user) %> </h2>

Recommand from the chef: 
<%(@post.rating).times do %>
    <span class="fa fa-star checked"></span>
<% end %>
<% (5 - (@post.rating)).times do %>
<span class="fa fa-star"></span>
<% end %>
<p>
    <%= @post.like %>
    <%= link_to 'ðŸ‘', like_path(@post), method: :put%>

    <%= @post.dislike %>
    <%= link_to 'ðŸ‘Ž', dislike_path(@post), method: :put, class: "btn btn info" %>

    <%= @post.love %>
    <%= link_to 'â¤ï¸', love_path(@post), method: :put, class: "btn btn info" %>

    <%= @post.disgust %>
    <%= link_to 'ðŸ¤®', disgust_path(@post), method: :put, class: "btn btn info" %>
</p>
<h4 class='list'>Comments:</h4>
<% @post.post_react.each do |react|  %> 
<div class='tile'> <h3> <%=User.find(react.user_id).name%> commented:</h3>
<h4> <%= react.comment %> </div>
<%= button_to 'Edit this comment', edit_post_reaction_path(@post, react), method: :get%> 
<%= button_to 'Delete this comment', [@post, react], method: :delete%><br>
</h4>
<%end%> 

<%= button_to 'Add a comment', new_post_reaction_path(@post), method: :get%> 
<%= button_to 'Edit this post', edit_post_path(@post), method: :get%> 
<%= button_to 'Delete this post', post_path(@post), method: :delete%><br>

</div>