<h1><%= @post.recipe.name %> </h1>
<br>

<img src= <%= @post.picture %> > <br>
<br>
<h3><%= @post.description %> </h3>
<h2> by <%= link_to @post.user.name, user_path(@post.user) %> </h2>
<br>

<div>
    Liked: <%= @post.like %>
    <%= button_to 'Like this post', like_path(@post), method: :put, class: "btn btn info" %>
</div>
<br>
<div>
    Dislikes: <%= @post.dislike %>
    <%= button_to 'dislike this post', dislike_path(@post), method: :put, class: "btn btn info" %>
</div>
<br>
<div>
    love: <%= @post.love %>
    <%= button_to 'love this post', love_path(@post), method: :put, class: "btn btn info" %>
</div>
<br>
<div>
    Disgust: <%= @post.disgust %>
    <%= button_to 'digust this post', disgust_path(@post), method: :put, class: "btn btn info" %>
</div>

<br>
<h4>Comments</h4>
<% @post.post_react.each do |react|  %> 
<h4> <%= react.comment %></h4>
<%end%> 


<%= button_to 'Edit this post', edit_post_path(@post), method: :get%> 
<%= button_to 'Delete this post', post_path(@post), method: :delete%><br>

