<!DOCTYPE html>
<html>
  <head>
    <title>InstaRecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class= 'container'>
      <ul>
        <li class = 'li'><%= link_to 'Create New Post', new_post_path %> </li> 
        <li class='li'><%=link_to 'Posts', posts_path %>  </li>
        <li class = 'li'><%=link_to 'Ingredients', ingredients_path%>  </li>
        <li class = 'li'><%=link_to 'Users', users_path%>  </li>
        <li class = 'li'><%=link_to 'Recipes', recipes_path%>  </li>
        <li class = 'li'><%=link_to 'Cuisines', cuisines_path%>  </li>
        <%if @current_user %>
            <li class = 'li'>Welcome <%=@current_user.name%> !</li>
          <li class = 'li'><%= link_to 'Log out', log_out_session_path, method: :delete %></li>
        <% else %>
          <li class = 'li'><%= link_to 'Sign up!', new_user_path %> </li>
          <li class = 'li'><%= link_to 'Log in', new_login_path %> </li>
        <% end %>
      </ul>
    </div>
  </nav>
    <main>
    <%= yield %>
  </main>
  </body>
</html>
